<h2>Detalhes do Filme</h2>

<hr/>
<div *ngIf="filme">
  <div>
    <label><b>Titulo: </b></label> {{filme.titulo}}
  </div>
  <div>
    <label><b>Ano: </b></label> {{filme.ano}}
  </div>
  <div>
    <label><b>Sinopse: </b></label> {{filme.sinopse}}
  </div>
  <div>
    <label><b>Diretor: </b></label> {{filme.diretores.nome}}
  </div>
  <div *ngFor="let ator of filme.atores">
    <label><b>Ator: </b></label> {{ator.nome}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar a lista de filmes</button><br>


